<div class="row">
  <% if logged_in? %>
  <aside class="col-md-3">
    <div class="panel panel-success">
    	<div class="panel-heading">
		    <img class="media-object img-rounded" src="<%= gravatar_url(current_user, options = { size: 50 }) %>" alt="">
	    </div>
	    <div class="panel-body">
	    	<p><%= @user.name %></p>
        <p><%= link_to "旅行を登録する",new_tripost_path ,class: "btn btn-primary" %></p>
	    </div>
    </div>
  </aside>
  <% end %>
  <div class="col-xs-8">
    <%= render 'triposts_toppages', microposts: @triposts %>
  </div>
</div>


