/* footer */
footer{
  background-color: white;
  width: 100%;
  height: 50px;
  margin-top:20px;
}

.footer_logo{
  line-height: 50px;
}

/* body */
body{
  background-color: #f2f2f2;
}

/* navbar */
.navbar-header img{
  margin-top: 5px;
  height: 40px;
}

.navbar {
  background-color: white;
}

/* トップページの投稿枠 */
.media {
  padding: 5px;
}


/* ■旅行詳細画面関連 */
/* カテゴリーラベル */
.category {
  margin: 10px 0 20px 0;
}

.btn_show{
  margin:20px 0;
}

/* カテゴリーラベル_2 */
.label_show{
  padding: 8px;
  background-color: green; 
  margin: 2px;
}

/* 旅行タイトル */
.tripost_h1{
  font-size: 30px;
}

.btn_tripost{
  margin:5px 0 0 0 ;
}


/* ■旅行登録画面関連 */
/* 旅行名 */
.tripost p{
  font-size: 15px;
}

/* カテゴリーラベル */
.label_tripost{
  margin: 0 0 15px 0;
}

/* ルート作成画面のタイトル文字 */
.root_h1{
  font-size:25px;
}

/* ルート作成画面のボタン */
.information_btn{
  margin: 0 0 0 5px;
  float: right;
}

.media_back{
  background-color: white;
}

/* ■ユーザー詳細画面関連  */

.media_back_user{
  background-color: white;
  margin: 0 auto;
  width: 80%;
  height: 600px;
  padding-top: 10px;
}

/*
.navbar{
  background-color: #adff2f;
  opacity: 0.5;
}
*/